<div class="mb-2">
  <label class="form-label" [class]="classLabel">{{ label | titlecase }}</label>
  <textarea
    class="form-control"
    [class.is-invalid]="control.touched && control.invalid"
    [formControl]="control"
    [rows]="rows"
    [placeholder]="placeholder"
    [attr.maxlength]="maxLength"
    [disabled]="disabled">
  </textarea>
  <div class="invalid-feedback d-block" *ngIf="control.touched && control.invalid">
    <span *ngIf="control.hasError('required')">
      This {{ label }} is mandatory.
    </span>

    <span *ngIf="control.hasError('maxlength')">
      Maximum {{ maxLength }} characters allowed.
    </span>
  </div>
  <div class="form-text text-end" *ngIf="maxLength">
    {{ control.value?.length || 0 }} / {{ maxLength }}
  </div>
</div>
