<div class="mb-2">
  <label class="form-label" [class]="labelClass">{{ label | titlecase }}</label>
  <select
    class="form-select"
    [class]="selectClass"
    [class.is-invalid]="control.touched && control.invalid"
    [formControl]="control">
    <option value="">Select {{ label | titlecase }}</option>
    <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
  </select>
  <div class="invalid-feedback d-block" *ngIf="control.touched && control.invalid">
    <span *ngIf="control?.errors?.['required']">
      This {{ label }} is mandatory
    </span>
  </div>
</div>
