<app-header (toggleSidebar)="toggleSidebar(sidenav)"></app-header>
<mat-sidenav-container class="app-shell" [class.desktop-shell]="isDesktop" [class.sidebar-collapsed]="collapsed">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" [class.collapsed]="collapsed" [style.width.px]="collapsed ? 72 : 260">
<app-sidebar [collapsed]="collapsed"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="main-content example-sidenav-content"> 
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
