<h5 mat-dialog-title>
   {{ data ? 'Edit User' : 'Signup' }}
</h5>
<mat-dialog-content  >
 <form [formGroup]="signupForm">
    <div class="grid-2-col mt-4">
        <app-input-form-field 
      [label]="'First Name'"
      [classLabel]="'form-label'"
      [inputClass]="'form-control'"
      [type]="'text'"
      [formControl]="$any(signupForm.controls['firstName'])"
      ></app-input-form-field>
         <app-input-form-field 
      [label]="'Last Name'"
      [classLabel]="'form-label'"
      [inputClass]="'form-control'"
      [type]="'text'"
      [formControl]="$any(signupForm.controls['lastName'])"
      ></app-input-form-field>
          <app-input-form-field 
      [label]="'User Name'"
      [classLabel]="'form-label'"
      [inputClass]="'form-control'"
      [type]="'text'"
      [formControl]="$any(signupForm.controls['userName'])"
      ></app-input-form-field>
        <app-input-form-field 
      [label]="'Password'"
      [classLabel]="'form-label'"
      [inputClass]="'form-control'"
      [type]="'text'"
      [formControl]="$any(signupForm.controls['password'])"
      ></app-input-form-field>
        <app-input-form-field 
      [label]="'Email'"
      [classLabel]="'form-label'"
      [inputClass]="'form-control'"
      [type]="'text'"
      [formControl]="$any(signupForm.controls['email'])"
      ></app-input-form-field>
        <app-input-form-field 
      [label]="'Contact #'"
      [classLabel]="'form-label'"
      [inputClass]="'form-control'"
      [type]="'text'"
      [formControl]="$any(signupForm.controls['contactNumber'])"
      ></app-input-form-field>
      <app-select-form-field
       [label]="'Role'"
  [labelClass]="'form-label'"
  [selectClass]="'form-control'"
  [options]="roleList"
  [formControl]="$any(signupForm.controls['role'])"></app-select-form-field>
       
  <app-select-form-field
       [label]="'Status'"
  [labelClass]="'form-label'"
  [selectClass]="'form-control'"
  [options]="[
      {value: 'true', label: 'Active'},
      {value: 'false', label: 'Inactive'}
      ]"
  [formControl]="$any(signupForm.controls['Status'])"></app-select-form-field>
    </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="d-flex justify-content-between w-100">
    <button class="btn-no"  mat-raised-button mat-dialog-close>Close</button>
    <!-- <button matButton  [ (click)="sigupSubmit()" >Submit</button> -->
    <button *ngIf="!data" (click)="sigupSubmit()"
  matButton
  [class]="signupForm.valid? 'btn-yes' : 'btn-no btn-disabled'"
  [disabled]="!signupForm.valid">
 Save
</button> 
  <button  *ngIf="data" (click)="userEditSubmit()"
  matButton
  [class]="signupForm.valid? 'btn-yes' : 'btn-no btn-disabled'"
  [disabled]="!signupForm.valid">
 Update
</button>
</div>
</mat-dialog-actions>