<div class="pb-2 position-relative">
   <mat-form-field appearance="outline" floatLabel="always" style="width: 100%;">
      <mat-label>{{ label | titlecase }}</mat-label>
      <input matInput placeholder="" type="{{type}}" [formControl]="control">
      <mat-error class="error-message" *ngIf="control.touched && control.invalid">
         <span *ngIf="control?.errors?.['required']">
            This {{ label }} is mandatory
         </span>
         <span *ngIf="control?.errors?.['pattern']">
            Please entered {{ label }} is invalid
         </span>
         <!-- <span *ngIf="control?.errors?.['mismatch'] && (control.get('newPassword')?.touched || control.get('confirmPassword')?.touched)">
            New Password and Confirm Password must be match
         </span> -->
         <span *ngIf="control?.errors?.['mismatch']">
            New Password and Confirm Password must be match1
         </span>
      </mat-error>
       <ng-content></ng-content>
   </mat-form-field>
</div>