<div class="mb-2 position-relative">
   <label class="form-label" [class]="classLabel">{{ label | titlecase }}</label>
   <input
      class="form-control"
      [class]="inputClass"
      [class.is-invalid]="control.touched && control.invalid"
      [type]="type"
      [formControl]="control">
   <ng-content></ng-content>
   <div class="invalid-feedback d-block" *ngIf="control.touched && control.invalid">
      <span *ngIf="control?.errors?.['required']">
         This {{ label }} is mandatory
      </span>
      <span *ngIf="control?.errors?.['pattern']">
         Please entered {{ label }} is invalid
      </span>
      <span *ngIf="control?.errors?.['mismatch']">
         New Password and Confirm Password must be match
      </span>
   </div>
</div>
