<mat-nav-list aria-label="Main navigation" [class.is-collapsed]="collapsed">
  <a *ngIf="permissions.can('DASHBOARD')" mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
    <mat-icon matListIcon>dashboard</mat-icon><span matLine class="nav-label">Dashboard</span>
  </a>
  <mat-accordion class="app-nav-accordion" [multi]="false" *ngIf="!collapsed">
    <mat-expansion-panel *ngFor="let group of groups" [style.display]="visible(group) ? '' : 'none'">
      <mat-expansion-panel-header><mat-panel-title><mat-icon matListIcon>{{ group.icon }}</mat-icon><span matLine>{{ group.label }}</span></mat-panel-title></mat-expansion-panel-header>
      <mat-nav-list>
        <a *ngFor="let item of group.items" [style.display]="permissions.can(item[2]) ? '' : 'none'" mat-list-item [routerLink]="item[1]" routerLinkActive="active-link">{{ item[0] }}</a>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="collapsed-links" *ngIf="collapsed">
    <a *ngFor="let group of groups" [style.display]="visible(group) ? '' : 'none'" mat-list-item [routerLink]="group.items[0][1]" routerLinkActive="active-link" [title]="group.label"><mat-icon matListIcon>{{ group.icon }}</mat-icon></a>
  </div>
</mat-nav-list>
