<h2 mat-dialog-title>Products</h2>
<mat-dialog-content>

 <form [formGroup]="productForm">
        <div class="grid-2-col mt-4">
         

  <!-- Product Name -->
  <mat-form-field appearance="outline">
    <mat-label>Product Name</mat-label>
    <input matInput formControlName="product_name" placeholder="Auto generate or enter">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Product Code</mat-label>
    <input matInput formControlName="product_code">
  </mat-form-field>

  <!-- Brand -->
<!-- Brand -->
<mat-form-field appearance="outline">
  <mat-label>Brand</mat-label>
  <mat-select
    formControlName="brand_id"
    (selectionChange)="generateProductName()">
    <mat-option
      *ngFor="let b of brands"
      [value]="b.brand_id">
      {{b.brand_name}}
    </mat-option>
  </mat-select>
</mat-form-field>

  <!-- CATEGORY LEVELS -->
<div *ngFor="let level of levels; let i = index">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Level {{i + 1}}</mat-label>

    <mat-select required
      [value]="selectedLevels[i]"
      (selectionChange)="onSelectLevel(i, $event.value)">

      <mat-option *ngFor="let c of level" [value]="c">
        {{c.category_name}}
      </mat-option>

    </mat-select>
  </mat-form-field>
</div>

  <mat-form-field appearance="outline">
    <mat-label>Barcode</mat-label>
    <input matInput formControlName="barcode">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Product Type</mat-label>
    <mat-select formControlName="product_type">
      <mat-option *ngFor="let type of productTypeList" [value]="type.value">
        {{ type.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Purchase Price</mat-label>
    <input matInput type="number" min="0" formControlName="purchase_price">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Selling Price</mat-label>
    <input matInput type="number" min="0" formControlName="selling_price">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>GST %</mat-label>
    <input matInput type="number" min="0" max="100" formControlName="gst_percent">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>HSN Code</mat-label>
    <input matInput formControlName="hsn_code">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Unit</mat-label>
    <input matInput formControlName="unit">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Reorder Level</mat-label>
    <input matInput type="number" min="0" formControlName="reorder_level">
  </mat-form-field>

<mat-form-field appearance="outline" class="w-100">

  <mat-label>Status</mat-label>

  <mat-select formControlName="status">
    <mat-option *ngFor="let status of statusList" [value]="status.value">
      {{ status.label }}
    </mat-option>

  </mat-select>

</mat-form-field>

<mat-form-field appearance="outline" class="w-100">
  <mat-label>Description</mat-label>
  <textarea matInput rows="3" formControlName="description"></textarea>
</mat-form-field>



        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="btn-no"  mat-raised-button   mat-dialog-close>Cancel</button>
    <button *ngIf="!dialogData"   mat-raised-button (click)="addSubmit()"  [class]="productForm.valid? 'btn-yes' : 'btn-no btn-disabled'"
    [disabled]="!productForm.valid">Save</button>
    <button *ngIf="dialogData"   mat-raised-button (click)="editSubmit()"  [class]="productForm.valid? 'btn-yes' : 'btn-no btn-disabled'"
    [disabled]="!productForm.valid">Update</button>
</mat-dialog-actions>

