<div class="mb-3">
  <label class="form-label">
    {{ label }} <sup *ngIf="required" class="text-danger">*</sup>
  </label>
  <div class="input-group">
    <span *ngIf="icon" class="input-group-text">
      <i class="{{ icon }}"></i>
    </span>
  <input
    [type]="inputType"
    class="form-control"
    [placeholder]="placeholder"
    [value]="value"
    [disabled]="disabled"
    (input)="change($event)"
    (blur)="onTouched()"
  />
    <button
      *ngIf="type === 'password'"
      type="button"
      class="btn btn-outline-secondary"
      (click)="togglePassword()">

      <i
        class="bi"
        [ngClass]="showPassword ? 'bi-eye' : 'bi-eye-slash'">
      </i>

    </button>
  </div>
  <app-error
    [control]="control"
    [label]="label">
  </app-error>
</div>
